.container{
    width: 300px;
    margin: 5rem auto;
    border: 1px solid #ccc;
    padding: 0px 20px 30px;
    border-radius: 10px;
}
input[type="text"]{
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 1.2rem;
    text-align: right;
}
h1{
    text-align: center;
    margin-bottom: 20px;
}
.result{
    font-size: 1.5rem;
    margin-bottom: 20px;
    text-align: right;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    background-color: #b1acac;
    text-shadow: 1px 1px 2px #000;
    color: #fff;
}
.buttons{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 56px;
    gap: 10px;
}
.btn{
    padding: 0;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}
.btn:active{
    transform: scale(0.95);
}

.btn:hover{
    background-color: #45a049;
}
.operator{
    background-color: #f44336;

}
.operator:hover{
    background-color: #da190b;
}

.zero,
.dot{
    grid-column: span 1;
}

.zero{
    grid-column: span 2;
}

#equals{
    grid-row: span 2;
}